In [1]:
import pandas as pd

In [2]:
!pwd

/home/work/ebnerd-benchmark/examples/00_quick_start

In [10]:
!ls /home/data/dataset/origin/ebnerd_large/validation

behaviors.parquet  history.parquet

In [15]:
tmp = pd.read_parquet("/home/data/dataset/origin/ebnerd_large/validation/behaviors.parquet")

In [16]:
tmp

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage
0,96429,NaN,2023-05-28 04:31:49,19.0,NaN,2,"[9230405, 9784793, 9784803, 9784275, 9782726, ...",[9782884],21814,False,NaN,NaN,NaN,False,12,374.0,100.0
1,96434,NaN,2023-05-28 04:53:56,13.0,NaN,2,"[9782884, 9783800, 9784793, 9784804, 9784702]",[9782884],21822,False,NaN,NaN,NaN,False,110,234.0,100.0
2,96436,NaN,2023-05-28 04:58:04,28.0,NaN,2,"[9230405, 9784710, 9784696, 9695098, 9784559, ...",[9784559],21822,False,NaN,NaN,NaN,False,110,9.0,38.0
3,96443,NaN,2023-05-28 04:58:42,24.0,NaN,2,"[9781998, 9230405, 9783405, 9784662, 9769155, ...",[9784662],21822,False,NaN,NaN,NaN,False,110,0.0,NaN
4,96462,NaN,2023-05-28 04:15:23,10.0,NaN,2,"[9784591, 9784702, 9782884, 9783865, 9784679]",[9784591],21824,False,NaN,NaN,NaN,False,219,8.0,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12566380,579553939,NaN,2023-05-27 19:36:06,16.0,NaN,2,"[9783852, 9784559, 9784648, 9784662, 9784575, ...",[9784648],755972,False,NaN,NaN,NaN,False,1156466,11.0,100.0
12566381,579553955,9782656.0,2023-05-27 19:18:09,22.0,100.0,2,"[9784506, 9784275, 9784160, 9782806, 9784298, ...",[9782806],756050,False,NaN,NaN,NaN,False,73678744,72.0,100.0
12566382,579553959,9782656.0,2023-05-27 19:19:44,9.0,100.0,2,"[9783236, 9695098, 9784430, 9777200, 9279095, ...",[9777324],756050,False,NaN,NaN,NaN,False,73678744,95.0,100.0
12566383,579553969,9782656.0,2023-05-27 19:17:18,11.0,100.0,2,"[9784642, 9784489, 9784583, 9784607, 9782656, ...",[9784444],756050,False,NaN,NaN,NaN,False,73678744,28.0,70.0
12566384,579553971,9782656.0,2023-05-27 19:21:29,16.0,100.0,2,"[9783236, 9784138, 9783850, 9782836, 9279095, ...",[9782763],756050,False,NaN,NaN,NaN,False,73678744,7.0,21.0

In [19]:
tmp1 = tmp.sample(frac=0.1).reset_index(drop=True)

In [21]:
tmp1.to_parquet("/home/data/dataset/origin/ebnerd_large/validation/behaviors_sample01.parquet")