In [ ]:

valid:
check value correct
check list lengh

In [1]:
import pandas as pd
import os
import numpy as np

In [3]:
data_path = "/home/vmagent/app/transformer4rec_recsys2022"

In [3]:
%%time
train_bak = pd.read_parquet(os.path.join(data_path, "data/data_feat/bak/train.parquet"))
train = pd.read_parquet(os.path.join(data_path, "data/data_feat/train.parquet"))

CPU times: user 48.9 s, sys: 1min 29s, total: 2min 18s
Wall time: 40.5 s

In [8]:
train_bak = train_bak.drop((train_bak[train_bak["session_id"]==2132889]).index).reset_index(drop=True)
train_bak = train_bak.drop((train_bak[train_bak["session_id"]==3805637]).index).reset_index(drop=True)
train_bak = train_bak.drop((train_bak[train_bak["session_id"]==3823880]).index).reset_index(drop=True)

In [14]:
cols = ['item_id-list', 'f_1-list', 'f_2-list', 'f_3-list',
       'f_4-list', 'f_5-list', 'f_6-list', 'f_7-list', 'f_8-list', 'f_9-list',
       'f_10-list', 'f_11-list', 'f_12-list', 'f_13-list', 'f_14-list',
       'f_15-list', 'f_16-list', 'f_17-list', 'f_18-list', 'f_19-list',
       'f_20-list', 'f_21-list', 'f_22-list', 'f_23-list', 'f_24-list',
       'f_25-list', 'f_26-list', 'f_27-list', 'f_28-list', 'f_29-list',
       'f_30-list', 'f_31-list', 'f_32-list', 'f_33-list', 'f_34-list',
       'f_35-list', 'f_36-list', 'f_37-list', 'f_38-list', 'f_39-list',
       'f_40-list', 'f_41-list', 'f_42-list', 'f_43-list', 'f_44-list',
       'f_45-list', 'f_46-list', 'f_47-list', 'f_48-list', 'f_49-list',
       'f_50-list', 'f_51-list', 'f_52-list', 'f_53-list', 'f_54-list',
       'f_55-list', 'f_56-list', 'f_57-list', 'f_58-list', 'f_59-list',
       'f_60-list', 'f_61-list', 'f_62-list', 'f_63-list', 'f_64-list',
       'f_65-list', 'f_66-list', 'f_67-list', 'f_68-list', 'f_69-list',
       'f_70-list', 'f_71-list', 'f_72-list', 'f_73-list']

In [9]:
diff = train_bak - train

In [53]:
valid = pd.read_parquet(os.path.join(data_path, "data/data_feat/valid.parquet"))

In [55]:
sessions = pd.read_csv(os.path.join(data_path, "data/origin/valid_sessions_new.csv"))
purchases = pd.read_csv(os.path.join(data_path, "data/origin/valid_purchases_new.csv"))
wf = pd.read_parquet(os.path.join(data_path, "data/data_list/test.parquet"))[["session_id","wf"]]

In [20]:
train[train["session_id"]==4439999]["wf"].values

array([0.84101603])

In [60]:
purchases

       session_id  item_id                     date
0             113    21107  2021-05-05 14:15:07.278
1             115    25976  2021-05-27 10:24:05.043
2             261     8840  2021-05-31 13:44:52.368
3             325     4309  2021-05-05 10:11:06.926
4             332    25415  2021-05-25 16:24:30.224
...           ...      ...                      ...
81616     4439680    21107  2021-05-21 16:22:54.437
81617     4439823     3567  2021-05-29 16:42:31.491
81618     4439898    23993  2021-05-25 23:07:08.889
81619     4439949    16439  2021-05-12 05:49:24.294
81620     4439986     2915  2021-05-13 11:56:37.464

[81621 rows x 3 columns]

In [61]:
sessions[sessions["session_id"]==4439949].sort_values(["date"])

        session_id  item_id                     date
470113     4439949    16806  2021-05-12 05:49:08.706

In [22]:
item_features = pd.read_csv(os.path.join(data_path, "data/origin/item_features.csv"))

In [63]:
item_features[(item_features["item_id"]==2171)&(item_features["feature_category_id"]==68)]

       item_id  feature_category_id  feature_value_id
35801     2171                   68               351

In [56]:
valid

,session_id,item_id-list,f_1-list,f_2-list,f_3-list,f_4-list,f_5-list,f_6-list,f_7-list,f_8-list,...,f_65-list,f_66-list,f_67-list,f_68-list,f_69-list,f_70-list,f_71-list,f_72-list,f_73-list,wf
0,113,"[6187, 19760, 2171, 15738, 21215, 17218, 21107]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[793, 793, 793, 793, 0, 0, 0]","[618, 618, 618, 618, 618, 618, 618]","[605, 605, 605, 605, 0, 0, 0]","[0, 0, 0, 0, 766, 766, 766]","[798, 2, 2, 2, 798, 619, 798]","[0, 0, 0, 0, 0, 0, 0]",...,"[521, 521, 521, 521, 521, 521, 521]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[445, 702, 351, 351, 351, 351, 351]","[805, 805, 805, 805, 780, 780, 780]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[371, 75, 75, 75, 75, 7, 263]","[544, 544, 544, 544, 544, 544, 544]",0.574247
1,115,"[19705, 10442, 15969, 19705, 10442, 16631, 197...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[53, 53, 53, 53, 53, 53, 53, 53, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 793]","[0, 0, 0, 0, 0, 0, 0, 0, 618]","[0, 0, 0, 0, 0, 0, 0, 0, 605]","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 298]","[0, 0, 0, 0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 0, 0, 0, 0, 0, 521]","[776, 886, 776, 776, 886, 776, 776, 776, 0]","[382, 382, 382, 382, 382, 349, 382, 349, 0]","[351, 441, 679, 351, 441, 596, 351, 596, 351]","[0, 0, 0, 0, 0, 0, 0, 0, 499]","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 75]","[544, 544, 544, 544, 544, 544, 544, 544, 544]",0.926491
2,261,"[17428, 3946, 17428, 19143, 26673, 25002, 8840]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 793, 793, 793, 793]","[618, 618, 618, 618, 618, 618, 618]","[0, 0, 0, 605, 58, 605, 605]","[0, 0, 0, 0, 0, 0, 0]","[536, 536, 536, 798, 837, 837, 452]","[0, 0, 0, 0, 0, 0, 0]",...,"[521, 521, 521, 521, 521, 521, 521]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[351, 204, 351, 745, 373, 373, 351]","[805, 805, 805, 780, 709, 780, 805]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[219, 219, 219, 75, 75, 75, 75]","[544, 544, 544, 544, 544, 544, 544]",0.993254
3,325,"[19882, 4130, 4130, 11638, 9219, 4309]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 793, 0, 793]","[618, 618, 618, 618, 331, 618]","[0, 0, 0, 605, 0, 605]","[0, 0, 0, 0, 0, 0]","[394, 394, 394, 394, 394, 490]","[0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 610, 521, 521]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[351, 739, 739, 702, 739, 895]","[885, 885, 885, 805, 805, 499]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[75, 75, 75, 75, 75, 75]","[544, 544, 544, 544, 544, 544]",0.571514
4,332,"[5264, 23345, 25415]","[0, 0, 0]","[0, 0, 0]","[793, 793, 0]","[618, 385, 618]","[605, 605, 0]","[0, 0, 84]","[536, 798, 2]","[0, 0, 0]",...,"[521, 521, 610]","[0, 0, 0]","[0, 0, 0]","[373, 379, 702]","[805, 805, 780]","[0, 0, 0]","[0, 0, 0]","[75, 75, 748]","[544, 544, 544]",0.898270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81615,4439680,"[20647, 21107]","[0, 0]","[0, 0]","[0, 0]","[618, 618]","[0, 0]","[0, 766]","[394, 798]","[0, 0]",...,"[0, 521]","[0, 0]","[0, 0]","[106, 351]","[805, 780]","[0, 0]","[0, 0]","[75, 263]","[544, 544]",0.833738
81616,4439823,"[17428, 3946, 3567]","[0, 0, 0]","[0, 0, 53]","[0, 0, 0]","[618, 618, 0]","[0, 0, 0]","[0, 0, 0]","[536, 536, 0]","[0, 0, 0]",...,"[521, 521, 0]","[0, 0, 776]","[0, 0, 349]","[351, 204, 441]","[805, 805, 0]","[0, 0, 0]","[0, 0, 0]","[219, 219, 0]","[544, 544, 544]",0.962987
81617,4439898,"[12508, 3237, 18969, 17588, 8414, 3237, 8414, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[310, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 793, 793, 793, 793, 793, 793, 793, 793, 79...","[0, 618, 618, 618, 618, 618, 618, 618, 618, 61...","[0, 605, 605, 605, 605, 605, 605, 605, 605, 60...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 2, 2, 2, 2, 2, 2, 2, 2, 798, 2]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",...,"[0, 521, 521, 521, 521, 521, 521, 521, 521, 52...","[886, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[349, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[596, 745, 351, 895, 745, 745, 745, 745, 745, ...","[0, 885, 885, 885, 885, 885, 885, 885, 805, 80...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 75, 75, 75, 75, 75, 75, 75, 371, 7, 75]","[544, 544, 544, 544, 544, 544, 544, 544, 544, ...",0.902780
81618,4439949,"[16806, 16439]","[0, 0]","[0, 0]","[793, 793]","[719, 618]","[605, 605]","[0, 0]","[452, 452]","[0, 0]",...,"[521, 521]","[0, 0]","[0, 0]","[351, 379]","[740, 362]","[0, 0]","[0, 0]","[883, 7]","[91, 544]",0.681484
81619,4439986,"[23502, 13914, 13403, 19310, 12373, 27733, 2915]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[618, 618, 618, 618, 618, 618, 618]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[394, 394, 394, 394, 394, 394, 394]","[0, 0, 0, 0, 0, 0, 0]",...,"[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[739, 739, 739, 744, 739, 531, 10]","[885, 885, 885, 885, 885, 885, 885]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[75, 75, 75, 75, 75, 75, 75]","[544, 544, 544, 544, 544, 544, 544]",0.701726

In [27]:
train.columns

Index(['session_id', 'item_id-list', 'f_1-list', 'f_2-list', 'f_3-list',
       'f_4-list', 'f_5-list', 'f_6-list', 'f_7-list', 'f_8-list', 'f_9-list',
       'f_10-list', 'f_11-list', 'f_12-list', 'f_13-list', 'f_14-list',
       'f_15-list', 'f_16-list', 'f_17-list', 'f_18-list', 'f_19-list',
       'f_20-list', 'f_21-list', 'f_22-list', 'f_23-list', 'f_24-list',
       'f_25-list', 'f_26-list', 'f_27-list', 'f_28-list', 'f_29-list',
       'f_30-list', 'f_31-list', 'f_32-list', 'f_33-list', 'f_34-list',
       'f_35-list', 'f_36-list', 'f_37-list', 'f_38-list', 'f_39-list',
       'f_40-list', 'f_41-list', 'f_42-list', 'f_43-list', 'f_44-list',
       'f_45-list', 'f_46-list', 'f_47-list', 'f_48-list', 'f_49-list',
       'f_50-list', 'f_51-list', 'f_52-list', 'f_53-list', 'f_54-list',
       'f_55-list', 'f_56-list', 'f_57-list', 'f_58-list', 'f_59-list',
       'f_60-list', 'f_61-list', 'f_62-list', 'f_63-list', 'f_64-list',
       'f_65-list', 'f_66-list', 'f_67-list', 'f_68-list', 'f_69-list',
       'f_70-list', 'f_71-list', 'f_72-list', 'f_73-list', 'wf'],
      dtype='object')

In [64]:
cols = ['item_id-list', 'f_1-list', 'f_2-list', 'f_3-list',
       'f_4-list', 'f_5-list', 'f_6-list', 'f_7-list', 'f_8-list', 'f_9-list',
       'f_10-list', 'f_11-list', 'f_12-list', 'f_13-list', 'f_14-list',
       'f_15-list', 'f_16-list', 'f_17-list', 'f_18-list', 'f_19-list',
       'f_20-list', 'f_21-list', 'f_22-list', 'f_23-list', 'f_24-list',
       'f_25-list', 'f_26-list', 'f_27-list', 'f_28-list', 'f_29-list',
       'f_30-list', 'f_31-list', 'f_32-list', 'f_33-list', 'f_34-list',
       'f_35-list', 'f_36-list', 'f_37-list', 'f_38-list', 'f_39-list',
       'f_40-list', 'f_41-list', 'f_42-list', 'f_43-list', 'f_44-list',
       'f_45-list', 'f_46-list', 'f_47-list', 'f_48-list', 'f_49-list',
       'f_50-list', 'f_51-list', 'f_52-list', 'f_53-list', 'f_54-list',
       'f_55-list', 'f_56-list', 'f_57-list', 'f_58-list', 'f_59-list',
       'f_60-list', 'f_61-list', 'f_62-list', 'f_63-list', 'f_64-list',
       'f_65-list', 'f_66-list', 'f_67-list', 'f_68-list', 'f_69-list',
       'f_70-list', 'f_71-list', 'f_72-list', 'f_73-list']

In [65]:
%%time
for col in cols:
    print(col)
    valid[f"{col}-len"] = valid[col].apply(lambda x: len(x))

item_id-list
f_1-list
f_2-list
f_3-list
f_4-list
f_5-list
f_6-list
f_7-list
f_8-list
f_9-list
f_10-list
f_11-list
f_12-list
f_13-list
f_14-list
f_15-list
f_16-list
f_17-list
f_18-list
f_19-list
f_20-list
f_21-list
f_22-list
f_23-list
f_24-list
f_25-list
f_26-list
f_27-list
f_28-list
f_29-list
f_30-list
f_31-list
f_32-list
f_33-list
f_34-list
f_35-list
f_36-list
f_37-list
f_38-list
f_39-list
f_40-list
f_41-list
f_42-list
f_43-list
f_44-list
f_45-list
f_46-list
f_47-list
f_48-list
f_49-list
f_50-list
f_51-list
f_52-list
f_53-list
f_54-list
f_55-list
f_56-list
f_57-list
f_58-list
f_59-list
f_60-list
f_61-list
f_62-list
f_63-list
f_64-list
f_65-list
f_66-list
f_67-list
f_68-list
f_69-list
f_70-list
f_71-list
f_72-list
f_73-list
CPU times: user 1.81 s, sys: 24.4 ms, total: 1.83 s
Wall time: 1.83 s

In [66]:
valid

,session_id,item_id-list,f_1-list,f_2-list,f_3-list,f_4-list,f_5-list,f_6-list,f_7-list,f_8-list,...,f_64-list-len,f_65-list-len,f_66-list-len,f_67-list-len,f_68-list-len,f_69-list-len,f_70-list-len,f_71-list-len,f_72-list-len,f_73-list-len
0,113,"[6187, 19760, 2171, 15738, 21215, 17218, 21107]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[793, 793, 793, 793, 0, 0, 0]","[618, 618, 618, 618, 618, 618, 618]","[605, 605, 605, 605, 0, 0, 0]","[0, 0, 0, 0, 766, 766, 766]","[798, 2, 2, 2, 798, 619, 798]","[0, 0, 0, 0, 0, 0, 0]",...,7,7,7,7,7,7,7,7,7,7
1,115,"[19705, 10442, 15969, 19705, 10442, 16631, 197...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[53, 53, 53, 53, 53, 53, 53, 53, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 793]","[0, 0, 0, 0, 0, 0, 0, 0, 618]","[0, 0, 0, 0, 0, 0, 0, 0, 605]","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 298]","[0, 0, 0, 0, 0, 0, 0, 0, 0]",...,9,9,9,9,9,9,9,9,9,9
2,261,"[17428, 3946, 17428, 19143, 26673, 25002, 8840]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 793, 793, 793, 793]","[618, 618, 618, 618, 618, 618, 618]","[0, 0, 0, 605, 58, 605, 605]","[0, 0, 0, 0, 0, 0, 0]","[536, 536, 536, 798, 837, 837, 452]","[0, 0, 0, 0, 0, 0, 0]",...,7,7,7,7,7,7,7,7,7,7
3,325,"[19882, 4130, 4130, 11638, 9219, 4309]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 793, 0, 793]","[618, 618, 618, 618, 331, 618]","[0, 0, 0, 605, 0, 605]","[0, 0, 0, 0, 0, 0]","[394, 394, 394, 394, 394, 490]","[0, 0, 0, 0, 0, 0]",...,6,6,6,6,6,6,6,6,6,6
4,332,"[5264, 23345, 25415]","[0, 0, 0]","[0, 0, 0]","[793, 793, 0]","[618, 385, 618]","[605, 605, 0]","[0, 0, 84]","[536, 798, 2]","[0, 0, 0]",...,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81615,4439680,"[20647, 21107]","[0, 0]","[0, 0]","[0, 0]","[618, 618]","[0, 0]","[0, 766]","[394, 798]","[0, 0]",...,2,2,2,2,2,2,2,2,2,2
81616,4439823,"[17428, 3946, 3567]","[0, 0, 0]","[0, 0, 53]","[0, 0, 0]","[618, 618, 0]","[0, 0, 0]","[0, 0, 0]","[536, 536, 0]","[0, 0, 0]",...,3,3,3,3,3,3,3,3,3,3
81617,4439898,"[12508, 3237, 18969, 17588, 8414, 3237, 8414, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[310, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 793, 793, 793, 793, 793, 793, 793, 793, 79...","[0, 618, 618, 618, 618, 618, 618, 618, 618, 61...","[0, 605, 605, 605, 605, 605, 605, 605, 605, 60...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 2, 2, 2, 2, 2, 2, 2, 2, 798, 2]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",...,11,11,11,11,11,11,11,11,11,11
81618,4439949,"[16806, 16439]","[0, 0]","[0, 0]","[793, 793]","[719, 618]","[605, 605]","[0, 0]","[452, 452]","[0, 0]",...,2,2,2,2,2,2,2,2,2,2
81619,4439986,"[23502, 13914, 13403, 19310, 12373, 27733, 2915]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[618, 618, 618, 618, 618, 618, 618]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[394, 394, 394, 394, 394, 394, 394]","[0, 0, 0, 0, 0, 0, 0]",...,7,7,7,7,7,7,7,7,7,7

In [67]:
lens = ['item_id-list-len', 'f_1-list-len', 'f_2-list-len', 'f_3-list-len', 'f_4-list-len', 'f_5-list-len', 'f_6-list-len', 'f_7-list-len', 'f_8-list-len', 'f_9-list-len', 'f_10-list-len', 'f_11-list-len', 'f_12-list-len', 'f_13-list-len', 'f_14-list-len', 'f_15-list-len', 'f_16-list-len', 'f_17-list-len', 'f_18-list-len', 'f_19-list-len', 'f_20-list-len', 'f_21-list-len', 'f_22-list-len', 'f_23-list-len', 'f_24-list-len', 'f_25-list-len', 'f_26-list-len', 'f_27-list-len', 'f_28-list-len', 'f_29-list-len', 'f_30-list-len', 'f_31-list-len', 'f_32-list-len', 'f_33-list-len', 'f_34-list-len', 'f_35-list-len', 'f_36-list-len', 'f_37-list-len', 'f_38-list-len', 'f_39-list-len', 'f_40-list-len', 'f_41-list-len', 'f_42-list-len', 'f_43-list-len', 'f_44-list-len', 'f_45-list-len', 'f_46-list-len', 'f_47-list-len', 'f_48-list-len', 'f_49-list-len', 'f_50-list-len', 'f_51-list-len', 'f_52-list-len', 'f_53-list-len', 'f_54-list-len', 'f_55-list-len', 'f_56-list-len', 'f_57-list-len', 'f_58-list-len', 'f_59-list-len', 'f_60-list-len', 'f_61-list-len', 'f_62-list-len', 'f_63-list-len', 'f_64-list-len', 'f_65-list-len', 'f_66-list-len', 'f_67-list-len', 'f_68-list-len', 'f_69-list-len', 'f_70-list-len', 'f_71-list-len', 'f_72-list-len', 'f_73-list-len']

In [68]:
def average_len(df):
    sets = set([df[col] for col in lens])
    return sets

In [69]:
%%time
valid["len"] = valid.apply(average_len,axis=1)

CPU times: user 17.3 s, sys: 161 ms, total: 17.5 s
Wall time: 17.5 s

In [70]:
valid["len-num"] = valid["len"].apply(lambda x: len(x))
valid[valid["len-num"]!=1]

Empty DataFrame
Columns: [session_id, item_id-list, f_1-list, f_2-list, f_3-list, f_4-list, f_5-list, f_6-list, f_7-list, f_8-list, f_9-list, f_10-list, f_11-list, f_12-list, f_13-list, f_14-list, f_15-list, f_16-list, f_17-list, f_18-list, f_19-list, f_20-list, f_21-list, f_22-list, f_23-list, f_24-list, f_25-list, f_26-list, f_27-list, f_28-list, f_29-list, f_30-list, f_31-list, f_32-list, f_33-list, f_34-list, f_35-list, f_36-list, f_37-list, f_38-list, f_39-list, f_40-list, f_41-list, f_42-list, f_43-list, f_44-list, f_45-list, f_46-list, f_47-list, f_48-list, f_49-list, f_50-list, f_51-list, f_52-list, f_53-list, f_54-list, f_55-list, f_56-list, f_57-list, f_58-list, f_59-list, f_60-list, f_61-list, f_62-list, f_63-list, f_64-list, f_65-list, f_66-list, f_67-list, f_68-list, f_69-list, f_70-list, f_71-list, f_72-list, f_73-list, wf, item_id-list-len, f_1-list-len, f_2-list-len, f_3-list-len, f_4-list-len, f_5-list-len, f_6-list-len, f_7-list-len, f_8-list-len, f_9-list-len, f_10-list-len, f_11-list-len, f_12-list-len, f_13-list-len, f_14-list-len, f_15-list-len, f_16-list-len, f_17-list-len, f_18-list-len, f_19-list-len, f_20-list-len, f_21-list-len, f_22-list-len, f_23-list-len, ...]
Index: []

[0 rows x 152 columns]

Empty DataFrame
Columns: [session_id, item_id-list, f_1-list, f_2-list, f_3-list, f_4-list, f_5-list, f_6-list, f_7-list, f_8-list, f_9-list, f_10-list, f_11-list, f_12-list, f_13-list, f_14-list, f_15-list, f_16-list, f_17-list, f_18-list, f_19-list, f_20-list, f_21-list, f_22-list, f_23-list, f_24-list, f_25-list, f_26-list, f_27-list, f_28-list, f_29-list, f_30-list, f_31-list, f_32-list, f_33-list, f_34-list, f_35-list, f_36-list, f_37-list, f_38-list, f_39-list, f_40-list, f_41-list, f_42-list, f_43-list, f_44-list, f_45-list, f_46-list, f_47-list, f_48-list, f_49-list, f_50-list, f_51-list, f_52-list, f_53-list, f_54-list, f_55-list, f_56-list, f_57-list, f_58-list, f_59-list, f_60-list, f_61-list, f_62-list, f_63-list, f_64-list, f_65-list, f_66-list, f_67-list, f_68-list, f_69-list, f_70-list, f_71-list, f_72-list, f_73-list, wf, item_id-list-len, f_1-list-len, f_2-list-len, f_3-list-len, f_4-list-len, f_5-list-len, f_6-list-len, f_7-list-len, f_8-list-len, f_9-list-len, f_10-list-len, f_11-list-len, f_12-list-len, f_13-list-len, f_14-list-len, f_15-list-len, f_16-list-len, f_17-list-len, f_18-list-len, f_19-list-len, f_20-list-len, f_21-list-len, f_22-list-len, f_23-list-len, ...]
Index: []

[0 rows x 152 columns]